* {
  box-sizing: border-box;
}

ul {
  padding-inline-start: 0px;
}

li {
  list-style-type: none;
  padding-bottom: 1em;
}

.navbar {
  height: 100px;
  background-color: aqua;
  margin-bottom: 10px;
}

.navbar > h1 {
  position: relative;
  left: 50px;
  top: 25px;
}

.container  {
  margin: 0 auto;
  max-width: 1600px;
  overflow: hidden;
  padding: 1rem;
  text-align: center;
}

.sidebar {
  float: left;
  padding-left: 10px;
  width: 250px;
}

.ais-RefinementList-labelText {
  padding-left: 5px;
}

.ais-RefinementList-count {
  background-color: #efefef;
  padding: 0px 4px 0px 4px;
}

button {
  height: 50px;
  color: #333;
  border-radius: 5px;
}

input.ais-SearchBox-input {
  height: 50px;
  width: 500px;
  border-radius: 5px;
  padding-left: 5px;
}

.ais-SearchBox-input::placeholder {
  padding-left: 5px;
}

.ais-SearchBox-submit {
 display: none;
}

.ais-SearchBox-reset {
 display: none;
}

.ais-Hits-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; 
}

.ais-Hits-item {
  padding: 10px;
}

.ui.image {
  max-height: 400px;
}

