.App {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  
}

.ais-Hits-list {
  display: flex;
  flex-flow: row wrap;
  
}

.ui.image {
  max-height: 375px;
}

li {
  list-style-type: none;
}

